html,
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    background-color: black;
}
.header {
    background-image: url(img/ultima.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1-header h1 {
    font-size: 3.9rem;
    color: white;
}

span {
    font-size: 7.5rem;
    color: #12ff46;
}

.button-header {
    position: absolute;
    bottom: 60px;

}

.button-header a {
    font-size: 2rem;
    border-radius: 2px;
    border: 1px solid white;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: 1.3s;

}

.button-header a:hover {
    color: #12ff46;
}

.nosotros {
    height: 100vh;
    background-color: #12ff46;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.nosotros-flex {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-p-nos {
    margin-left: 90px;
    width: 50%;
}

.titulo-nos {
    text-align: left;
    font-size: 2rem;
    margin: 20px 0px;
}

.span-title-nos {
    /* text-align: left; */
    font-size: 3.2rem;
    color: white;
}

.p-nos {
    font-size: 1.3rem;
    text-align: left;
}

.img-nos {
    border-radius: 10px;
}

.icons ul li {
    display: inline-block;
    font-size: 2.3rem;
    /* color: white; */
    padding: 20px 10px;
}

.icons a {
    color: white;
}

.icons ul li a:hover {
    color: black;
}

.experiencie {
    background-color: black;
    /* height: 100vh; */
    padding: 30px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */


    .title-ex {
        text-align: center;
        margin: 50px 0px;
        /* text-align: center; */
    }

    .titulo-p-experiencie {
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }

    .titulo-experiencie {
        font-size: 2rem;
        color: white;
        text-align: left;
    }

    .span-title-experiencie {
        font-size: 3.2rem;
        color: #12ff46;
    }

    .cards {
        display: flex;
        /* flex-direction: column; */
        /* justify-content: center; */
        align-items: start;
        justify-content: center;
        /* margin-bottom: 50px; */
    }

    .card {
        font-size: 1.2rem;
        /* background-color: antiquewhite; */
        /* opacity: 900; */
        padding: 50px;
        border-radius: 20px;
        margin: 20px 10px;
        border: 1px solid;
        box-shadow: 0 5px 10px rgba(31, 201, 59, 0.5);
    }

    .card h4 {
        color: #12ff46;
        /* opacity: 0.5; */
        padding-bottom: 20px;
    }

    .card h6 {
        padding-bottom: 10px;
        opacity: 0.5;
    }

    .card p {
        margin-bottom: 10px;
        max-width: 400px;
    }

    .img-ex {
        border-radius: 20px;
        margin-left: 50px;
        height: 600px;
        width: 400px;
    }

}


/* proyects */
.section-proyects {
    padding: 30px;
    background-color: black;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "h2 h2 h2"
        "it1 it2 it3"
        "it4 it2 it5"
        "it4 it6 it5"
    ;

    gap: 10px;

    h2 {
        color: white;
        text-align: center;
        grid-area: h2;
        padding: 40px;
    }

    .img1 {
        width: 300px;
        height: 200px;
        border-radius: 20px;
        transition: 1s;
    }

    .img2 {
        width: 300px;
        height: 400px;
        border-radius: 10px;
        transition: 1s;
    }

    
    .img1:hover {
        transform: scale(1.1);
    }
    .img2:hover {
        transform: scale(1.1);
    }

    .item-1 {
        grid-area: it1;
    }

    .item-2 {
        grid-area: it2;
    }

    .item-3 {
        grid-area: it3;
    }

    .item-4 {
        grid-area: it4;
    }

    .item-5 {
        grid-area: it5;
    }

    .item-6 {
        grid-area: it6;
    }

}

/* FORMULARIO */

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-color: #12ff46;
    padding: 30px;
    img{
        width: 600px;
        height: 700px;
    }
    form{
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
        width: 600px;
        height: 700px;
        justify-content: center;
        align-items: center;
    }
    h3{
        font-size: 2.5rem;
        padding: 20px 0;
    }
    .section-form{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        padding: 10px;
        font-size: 1.4rem;
    }
    input,textarea{
        font-size: 1.4rem;
        padding: 10px;
        border-radius: 5px;
    }
    .btn{
        border: 1px solid white;
        color: white;
        background-color: #12ff46;
        margin-top: 30px;
        width: 230px;
        transition: 1s;
    }
    .btn:hover{
        background-color: rgb(21, 116, 21);
        color: white;
    }
    span{
        font-size: 3.8rem;
    }
    
}

@media(min-width:200px) and (max-width:700px) {

    .h1-header h1 {
        font-size: 2.3rem;
    }

    .h1-header span {
        font-size: 2.8rem;
    }

    .button-header a:hover {
        color: white;
    }

    .nosotros-flex {
        flex-direction: column;
    }

    .img-nos {
        margin-top: 30px;
        width: 200px;
        height: 400px;
    }

    .titulo-nos {
        text-align: center;
        font-size: 1.1rem;
        /* text-align: center; */
    }

    .span-title-nos {
        font-size: 1.8rem;
    }

    .nosotros {
        height: 0%;
    }

    .titulo-p-nos {
        text-align: center;
        width: 100%;
        margin: 0px;
    }

    .p-nos {
        text-align: left;
        padding: 0 50px 20px;
    }

    .iconos ul li {
        padding: 0;
        display: flex;
        justify-content: left;
        /* flex-direction: ; */
        text-align: center;

    }

    /* .p-nos{
        max-width: 100%;
        padding: 20px;
        font-size: 1.2rem;
    } */

    /* EXPERIENCIA */
    .experiencie {
        height: 0%;
        .span-title-experiencie {
            font-size: 1.8rem;
        }
    }

    .experiencie-flex {
        flex-direction: column;
    }

    .img-ex {
        display: none;
    }

    .card {
        margin: 20px;
    }

    .cards {
        flex-direction: column;
    }

    .title-ex {
        text-align: center;
        font-size: 1.5rem;
    }

    /* PROYECTS */
    .section-proyects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img1 {
        width: 200px;
        height: 100px;
        border-radius: 20px;
    }

    .img2 {
        width: 200px;
        height: 200px;
        border-radius: 10px;
    }
    .formulario{
        flex-direction: column;
        img{
          display: none ;
        }
        form{
            width: 360px;
            height: 500px;
        }
        h3{
            font-size: 1.5rem;
        }
        .section-form{
            font-size: 1.2rem;
        }
        input,textarea{
            font-size: 1.2rem;
        }
        .btn{
            width: 100px;
        }
        span{
            font-size: 2.8rem;
        }
    }

}